<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.ovgu.featureide.core.composers">
      <composer
            class="de.ovgu.featureide.core.bytecode.BytecodeComposer"
            description="Composer for bytecode"
            id="de.ovgu.featureide.core.bytecode.composer"
            name="Bytecode Composer"
            nature="de.ovgu.featureide.core.bytecode.composer">
      </composer>
   </extension>

</plugin>
